In [1]:
import functions as fn
import pandas as pd
from importlib import reload
from tqdm import tqdm
from termcolor import colored
import matplotlib.pyplot as plt
from ooipy.tools import ooiplotlib as ooiplt
import datetime

In [2]:
import sys, os

# Disable
def blockPrint():
    sys.stdout = open(os.devnull, 'w')

# Restore
def enablePrint():
    sys.stdout = sys.__stdout__

In [3]:
df = pd.read_csv('E:/Acer backup 3/internships and jobs/UW/Reader grader and TA/Shima Abadi/Data/ais_2014B_2020B_V2.csv',sep = ',')

In [4]:
df['TIMESTAMP UTC']=df['TIMESTAMP UTC'].astype('datetime64[ns]')

In [5]:
df.head()

,Unnamed: 0.1,Unnamed: 0,MMSI,SHIPNAME,VESSEL TYPE,STATUS,SPEED (KNOTSx10),LAT,LON,COURSE,...,central_caldera_Loc,eastern_caldera_Lat,eastern_caldera_Lon,eastern_caldera_Loc,distance(in km) axial,distance(in km) central cald,distance(in km) eastern cald,bearing_axial,bearing_eastern_cald,bearing_central_cald
0,0,0,209605000,AKILI,Bulk Carrier,0,108,46.09859,-129.6550,83,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",32.25,31.72,30.37,193.760689,234.515164,239.809636
1,1,1,256832000,NaN,NaN,0,115,45.07486,-128.9430,178,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",104.04,128.46,125.45,322.804182,320.490292,320.057435
2,2,2,352358000,ANNA G,Bulk Carrier,0,132,45.86138,-130.5627,86,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",63.02,44.21,46.50,94.234035,78.935325,76.159593
3,3,3,356566000,GLOBAL SAIKAI,General Cargo,0,104,46.50261,-129.0129,272,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",95.33,98.03,97.02,217.082385,230.114815,231.878577
4,4,4,477293500,JIN XIU FENG,Bulk Carrier,0,112,46.74633,-129.5912,299,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",104.08,93.66,94.37,186.960616,198.291220,200.167826

In [6]:
df['TIMESTAMP UTC'].min()

Timestamp('2015-01-01 00:28:00')

In [7]:
df['TIMESTAMP UTC'].max()

Timestamp('2020-12-31 23:58:58')

### Remove airgun noise data

In [8]:
start_time=datetime.datetime(2019,7,1,0,0,0)
end_time=datetime.datetime(2019,8,1,0,0,0)

In [9]:
start_time

datetime.datetime(2019, 7, 1, 0, 0)

In [10]:
df=df[(df['TIMESTAMP UTC']<start_time) | (df['TIMESTAMP UTC'] > end_time)]
df.head()

,Unnamed: 0.1,Unnamed: 0,MMSI,SHIPNAME,VESSEL TYPE,STATUS,SPEED (KNOTSx10),LAT,LON,COURSE,...,central_caldera_Loc,eastern_caldera_Lat,eastern_caldera_Lon,eastern_caldera_Loc,distance(in km) axial,distance(in km) central cald,distance(in km) eastern cald,bearing_axial,bearing_eastern_cald,bearing_central_cald
0,0,0,209605000,AKILI,Bulk Carrier,0,108,46.09859,-129.6550,83,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",32.25,31.72,30.37,193.760689,234.515164,239.809636
1,1,1,256832000,NaN,NaN,0,115,45.07486,-128.9430,178,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",104.04,128.46,125.45,322.804182,320.490292,320.057435
2,2,2,352358000,ANNA G,Bulk Carrier,0,132,45.86138,-130.5627,86,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",63.02,44.21,46.50,94.234035,78.935325,76.159593
3,3,3,356566000,GLOBAL SAIKAI,General Cargo,0,104,46.50261,-129.0129,272,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",95.33,98.03,97.02,217.082385,230.114815,231.878577
4,4,4,477293500,JIN XIU FENG,Bulk Carrier,0,112,46.74633,-129.5912,299,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",104.08,93.66,94.37,186.960616,198.291220,200.167826

In [11]:
min_duration=10
path_to_write='E:/Acer backup 3/internships and jobs/UW/Reader grader and TA/Shima Abadi/Data/Benchmark_data/'

In [12]:
reload(fn)

In [13]:
def get_benchmark_data(df,hydrophone_idx,inner_rad,outer_rad,min_duration,fmin=10,fmax=90,break_dur=True,get_acoustic=True,get_spectrogram=True):
    
    if hydrophone_idx==1:
        hydro='Axial_Base'
    elif hydrophone_idx==2:
        hydro='Central_Caldera'
    elif hydrophone_idx==3:
        hydro='Eastern_Caldera'
    suffix=str(inner_rad)+'_'+ str(outer_rad)+'.csv'
    ais=fn.choose_df(df,hydrophone_idx)
    isolated_ships=fn.get_isolated_ships(ais,inner_rad,outer_rad,min_duration)
    isolated_ships.to_csv(path_to_write+hydro+'/isolated_ships_' + suffix)
    isolated_ais=fn.isolated_ais(ais,isolated_ships,inner_rad)
    isolated_ais.to_csv(path_to_write+hydro+'/isolated_ais_'+ suffix)
    if break_dur:
        isolated_ais_10m=fn.break_duration(isolated_ships)
        isolated_ais_10m.to_csv(path_to_write+hydro+'/isolated_ais_10m_'+ suffix)
    
    if get_acoustic==True:
        print('Saving wav files')
        for i in tqdm(range(len(isolated_ships))):
            min_time=isolated_ships.start_time[i]
            max_time=isolated_ships.end_time[i]
            hydrophone_data=fn.get_acoustic(hydrophone_idx,min_time,max_time,fmin=fmin,fmax=fmax)
            if hydrophone_data==None:
                # print('data trace is none. Continuing to next')
                pass
            else:
                hydrophone_data.wav_write(filename=path_to_write+hydro+'/Audio'+'/isolated_ships_'+str(inner_rad)+'_'+ str(outer_rad)+'_'+str(i)+'.wav')
    if get_spectrogram==True:
        print('Saving spectrograms')
        for i in tqdm(range(len(isolated_ships))):
            min_time=isolated_ships.start_time[i]
            max_time=isolated_ships.end_time[i]
            spectrogram=fn.get_spectrogram_data(hydrophone_idx,min_time,max_time,fmin=fmin,fmax=fmax)
            if (spectrogram==None):
                # print('data trace is none. Continuing to next')
                pass
            else:
                if (spectrogram.values.shape[0]<2) | (spectrogram.values.shape[1]<2):
                    pass
                else:
                    #spectrogram.visualize(save_spec=True,plot_spec=False,filename=path_to_write+hydro+'/Spectrogram'+'/isolated_ships_'+str(inner_rad)+'_'+ str(outer_rad)+'_'+str(i)+'.png')
                    ooiplt.plot_spectrogram(spectrogram,plot=False,save=True,fmin=fmin,fmax=fmax,filename=path_to_write+hydro+'/Spectrogram'+'/isolated_ships_'+str(inner_rad)+'_'+ str(outer_rad)+'_'+str(i)+'.png')
    return isolated_ships,isolated_ais

In [14]:
reload(fn)

## Creating benchmark data for Axial Base

### Depth=2.6
### Axial base= 'AXABA1'

### inner rad=2.6, outer_rad=2.6, outer_rad=5.2

In [15]:
inner_rad= 2.6
outer_rad1=2.6
outer_rad2=5.2

In [16]:

d1,d2=get_benchmark_data(df,1,inner_rad,outer_rad1,min_duration,get_acoustic=False,get_spectrogram=False)

 Max distance: 166.51 and Min distance: 0.01

100%|██████████████████████████████████████████████████████████████████████████████████| 39/39 [00:00<00:00, 42.04it/s]

In [17]:
print(d1['VESSEL TYPE'].value_counts(),'\n',d1['len_of_recording'].sum())

Research/Survey Vessel    32
Bulk Carrier               3
Special Vessel             2
Fishing Vessel             1
LPG Tanker                 1
Name: VESSEL TYPE, dtype: int64
 74310.01666666668

In [18]:

d1,d2=get_benchmark_data(df,1,inner_rad,outer_rad2,min_duration,get_acoustic=False,get_spectrogram=False)

 Max distance: 166.51 and Min distance: 0.01

100%|██████████████████████████████████████████████████████████████████████████████████| 46/46 [00:01<00:00, 31.63it/s]

In [19]:
print(d1['VESSEL TYPE'].value_counts(),'\n',d1['len_of_recording'].sum())

Research/Survey Vessel    38
Special Vessel             3
Bulk Carrier               3
Fishing Vessel             1
LPG Tanker                 1
Name: VESSEL TYPE, dtype: int64
 36438.49999999999

In [20]:
# d1,d2=get_benchmark_data(df,1,5,30,min_duration,get_acoustic=False)

## Creating benchmark data for Central Caldera

### Depth=1.5
### Central Caldera= 'AXCC1'

### inner rad=1.5, outer_rad=1.5, outer_rad=3.0

In [21]:
inner_rad= 1.5
outer_rad1=1.5
outer_rad2=3.0
outer_rad3=20

In [22]:
d1.head()

,MMSI,start_time,end_time,count,VESSEL TYPE,len_of_recording
0,338417000,2016-07-12 12:16:55,2016-07-14 05:25:02,184,Special Vessel,2468.116667
1,338417000,2016-07-24 21:25:11,2016-07-28 23:02:11,91,Special Vessel,5857.000000
2,338417000,2016-08-10 07:20:00,2016-08-10 19:06:52,58,Special Vessel,706.866667
3,352358000,2016-08-20 14:24:43,2016-08-20 15:08:58,4,Bulk Carrier,44.250000
4,356190000,2017-08-17 03:22:52,2017-08-17 03:43:51,2,Bulk Carrier,20.983333

In [23]:
d1,d2=get_benchmark_data(df,2,inner_rad,outer_rad1,min_duration,get_acoustic=False,get_spectrogram=False)

 Max distance: 168.72 and Min distance: 0.02

100%|██████████████████████████████████████████████████████████████████████████████████| 42/42 [00:01<00:00, 41.51it/s]

In [24]:
print(d1['VESSEL TYPE'].value_counts(),'\n',d1['len_of_recording'].sum())

Research/Survey Vessel    33
Offshore Supply Ship       7
Special Vessel             1
Tug                        1
Name: VESSEL TYPE, dtype: int64
 6891.55

In [25]:
d1,d2=get_benchmark_data(df,2,inner_rad,outer_rad2,min_duration,get_acoustic=False,get_spectrogram=False)

 Max distance: 168.72 and Min distance: 0.02

100%|██████████████████████████████████████████████████████████████████████████████████| 42/42 [00:01<00:00, 39.40it/s]

In [26]:
print(d1['VESSEL TYPE'].value_counts(),'\n',d1['len_of_recording'].sum())

Research/Survey Vessel    33
Offshore Supply Ship       7
Special Vessel             1
Tug                        1
Name: VESSEL TYPE, dtype: int64
 6891.55

In [27]:
d1,d2=get_benchmark_data(df,2,inner_rad,outer_rad3,min_duration,get_acoustic=False,get_spectrogram=False)

 Max distance: 168.72 and Min distance: 0.02

100%|██████████████████████████████████████████████████████████████████████████████████| 43/43 [00:01<00:00, 30.84it/s]

In [28]:
print(d1['VESSEL TYPE'].value_counts(),'\n',d1['len_of_recording'].sum())

Research/Survey Vessel    35
Offshore Supply Ship       7
Tug                        1
Name: VESSEL TYPE, dtype: int64
 6724.416666666667

### In this particular example hydrophone is not properly collecting data for a particular duration

In [29]:
x=d1[d1.index==153]

In [30]:
x

Empty DataFrame
Columns: [MMSI, start_time, end_time, count, VESSEL TYPE, len_of_recording]
Index: []

In [31]:
# reload(fn)
# min_time=x.start_time[153]
# max_time=x.end_time[153]
# spectrogram=fn.get_spectrogram_data(2,min_time,max_time,fmin=10,fmax=90)

In [32]:
spectrogram.values.shape[0]

NameError: name 'spectrogram' is not defined

In [ ]:
if (spectrogram.values.shape[0]<2) | (spectrogram.values.shape[1]<2):
    pass
else:
    ooiplt.plot_spectrogram(spectrogram,plot=False,save=True,fmin=fmin,fmax=fmax,filename='test.png')

## Creating benchmark data for Eastern Caldera

### Depth=1.5
### Eastern Caldera= 'AXEC2'

### inner rad=1.5, outer_rad=1.5, outer_rad=3.0

In [ ]:
inner_rad= 1.5
outer_rad1=1.5
outer_rad2=3.0

In [ ]:
d1,d2=get_benchmark_data(df,3,inner_rad,outer_rad1,min_duration,get_acoustic=False,get_spectrogram=False)

In [ ]:
print(d1['VESSEL TYPE'].value_counts(),'\n',d1['len_of_recording'].sum())

In [ ]:
d1,d2=get_benchmark_data(df,3,inner_rad,outer_rad2,min_duration,get_acoustic=False,get_spectrogram=False)

In [ ]:
print(d1['VESSEL TYPE'].value_counts(),'\n',d1['len_of_recording'].sum())

In [ ]:
from functions import choose_df
ais=choose_df(df,1)
min_duration=10
lat=float(ais['axial_Loc'].iloc[0][1:8])
lon=float(ais['axial_Loc'].iloc[0][9:18])
reload(fn)
fn.get_isolated_map_plot('scatter',ais,inner_rad,outer_rad2,lat,lon,min_duration)

In [ ]:
reload(fn)
fn.get_single_isolated_map_plot(1,'scatter',ais,10,30,lat,lon,min_duration,10,90)

In [ ]:
ais.head()

## Comparison of various options

In [33]:
inner_rad=[5,10,15,1.5,2.6]
outer_rad=[20,30,40,1.5,2.6,3,5.2]
min_duration=10

In [36]:
reload(fn)

print(colored('Comparative view with minimum duration: '+ str(min_duration),'green',attrs=['bold']))
table=pd.DataFrame(columns=['hydrophone_idx','inner_rad','outer_rad','no_unique_ships','no_unique_vessels','no_records'])
for i in tqdm(range(1,4,1)):
    for i_r in tqdm(inner_rad):
        for o_r in outer_rad:
            if i_r<=o_r:
                temp_dict=dict()
                ais=fn.choose_df(df,i,verbose=False)

                temp_df1=fn.get_isolated_ships(ais,i_r,o_r,min_duration)
                temp_df2=fn.break_duration(temp_df1)

                temp_dict['hydrophone_idx']=i
                temp_dict['inner_rad']=i_r
                temp_dict['outer_rad']=o_r
                temp_dict['no_unique_ships']=temp_df2['MMSI'].nunique()
                temp_dict['no_unique_vessels']=temp_df2['VESSEL TYPE'].nunique()
                temp_dict['no_records']=len(temp_df2)
                temp_dict['len_of_recordings']=temp_df2.len_of_recording.sum()
                table=table.append(temp_dict,ignore_index=True)

Comparative view with minimum duration: 10

  0%|                                                                                            | 0/3 [00:00<?, ?it/s]
  0%|                                                                                            | 0/5 [00:00<?, ?it/s]
 20%|████████████████▊                                                                   | 1/5 [00:31<02:07, 31.82s/it]
 40%|█████████████████████████████████▌                                                  | 2/5 [01:08<01:44, 34.93s/it]
 60%|██████████████████████████████████████████████████▍                                 | 3/5 [02:11<01:34, 47.45s/it]
 80%|███████████████████████████████████████████████████████████████████▏                | 4/5 [02:53<00:45, 45.20s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 5/5 [03:53<00:00, 46.74s/it]
 33%|███████████████████████████▋                                                       | 1/3 [03:53<07:47, 233.68s/it]
  0%|                                                                                            | 0/5 [00:00<?, ?it/s]

{'MMSI': 338415000, 'start_time': Timestamp('2019-08-30 18:32:35'), 'end_time': Timestamp('2019-08-30 18:42:35'), 'VESSEL TYPE': 'Offshore Supply Ship', 'len_of_recording': 10.0}
{'MMSI': 338415000, 'start_time': Timestamp('2019-08-30 18:32:35'), 'end_time': Timestamp('2019-08-30 18:42:35'), 'VESSEL TYPE': 'Offshore Supply Ship', 'len_of_recording': 10.0}
{'MMSI': 338415000, 'start_time': Timestamp('2019-08-30 18:32:35'), 'end_time': Timestamp('2019-08-30 18:42:35'), 'VESSEL TYPE': 'Offshore Supply Ship', 'len_of_recording': 10.0}
{'MMSI': 338415000, 'start_time': Timestamp('2019-08-30 18:32:35'), 'end_time': Timestamp('2019-08-30 18:42:35'), 'VESSEL TYPE': 'Offshore Supply Ship', 'len_of_recording': 10.0}

 20%|████████████████▊                                                                   | 1/5 [01:08<04:33, 68.29s/it]
 40%|█████████████████████████████████▌                                                  | 2/5 [02:41<04:09, 83.05s/it]

{'MMSI': 371823000, 'start_time': Timestamp('2015-07-10 09:05:09'), 'end_time': Timestamp('2015-07-10 09:15:09'), 'VESSEL TYPE': 'Chemical Tanker', 'len_of_recording': 10.0}
{'MMSI': 371823000, 'start_time': Timestamp('2015-07-10 09:05:09'), 'end_time': Timestamp('2015-07-10 09:15:09'), 'VESSEL TYPE': 'Chemical Tanker', 'len_of_recording': 10.0}
{'MMSI': 351647000, 'start_time': Timestamp('2015-10-16 06:21:03'), 'end_time': Timestamp('2015-10-16 06:31:03'), 'VESSEL TYPE': 'Bulk Carrier', 'len_of_recording': 10.0}
{'MMSI': 371823000, 'start_time': Timestamp('2015-07-10 09:05:09'), 'end_time': Timestamp('2015-07-10 09:15:09'), 'VESSEL TYPE': 'Chemical Tanker', 'len_of_recording': 10.0}

 60%|██████████████████████████████████████████████████▍                                 | 3/5 [04:25<03:04, 92.44s/it]
 80%|███████████████████████████████████████████████████████████████████▏                | 4/5 [04:39<01:01, 61.52s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 5/5 [05:39<00:00, 67.92s/it]
 67%|███████████████████████████████████████████████████████▎                           | 2/3 [09:33<04:55, 295.99s/it]
  0%|                                                                                            | 0/5 [00:00<?, ?it/s]
 20%|████████████████▊                                                                   | 1/5 [01:13<04:53, 73.40s/it]
 40%|█████████████████████████████████▌                                                  | 2/5 [02:29<03:45, 75.14s/it]

{'MMSI': 367059880, 'start_time': Timestamp('2019-08-09 13:06:08'), 'end_time': Timestamp('2019-08-09 13:16:08'), 'VESSEL TYPE': 'Research/Survey Vessel', 'len_of_recording': 10.0}
{'MMSI': 371823000, 'start_time': Timestamp('2015-07-10 09:05:09'), 'end_time': Timestamp('2015-07-10 09:15:09'), 'VESSEL TYPE': 'Chemical Tanker', 'len_of_recording': 10.0}
{'MMSI': 371823000, 'start_time': Timestamp('2015-07-10 09:05:09'), 'end_time': Timestamp('2015-07-10 09:15:09'), 'VESSEL TYPE': 'Chemical Tanker', 'len_of_recording': 10.0}
{'MMSI': 371823000, 'start_time': Timestamp('2015-07-10 09:05:09'), 'end_time': Timestamp('2015-07-10 09:15:09'), 'VESSEL TYPE': 'Chemical Tanker', 'len_of_recording': 10.0}

 60%|██████████████████████████████████████████████████▍                                 | 3/5 [04:14<02:57, 88.78s/it]
 80%|███████████████████████████████████████████████████████████████████▏                | 4/5 [04:36<01:02, 62.18s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 5/5 [05:33<00:00, 66.63s/it]
100%|███████████████████████████████████████████████████████████████████████████████████| 3/3 [15:06<00:00, 302.15s/it]

In [35]:
table[table['inner_rad'].isin([5,10])]

Empty DataFrame
Columns: [hydrophone_idx, inner_rad, outer_rad, no_unique_ships, no_unique_vessels, no_records, len_of_recordings]
Index: []

In [50]:
d1.head()

,MMSI,start_time,end_time,count,VESSEL TYPE,len_of_recording
0,247218600,2016-02-12 15:27:00,2016-02-12 17:09:03,5,Oil/Chemical Tanker,102.050000
1,338371000,2016-04-13 15:41:49,2016-04-13 15:52:49,2,Tanker,11.000000
2,338415000,2016-07-21 21:42:07,2016-07-21 22:07:06,4,Offshore Supply Ship,24.983333
3,338415000,2016-07-22 01:12:16,2016-07-22 01:45:46,4,Offshore Supply Ship,33.500000
4,338415000,2019-08-22 08:22:40,2019-08-22 09:05:48,18,Offshore Supply Ship,43.133333

In [13]:
reload(fn)

print(colored('Overlapping of all hydrophones with minimum number of timestamps: '+ str(min_duration),'green',attrs=['bold']))
table2=pd.DataFrame(columns=['inner_rad','outer_rad','no_unique_ships','no_unique_vessels','no_records'])

for i_r in inner_rad:
    for o_r in outer_rad:
        combined_df=pd.DataFrame()
        for i in range(1,4,1):
            temp_dict=dict()
            ais=fn.choose_df(df,i,verbose=False)
            d1=fn.get_isolated_ships(ais,i_r,o_r,min_duration)
            combined_df=pd.concat([combined_df,d1])

        temp_dict['inner_rad']=i_r
        temp_dict['outer_rad']=o_r
        temp_dict['no_unique_ships']=combined_df['MMSI'].nunique()
        temp_dict['no_unique_vessels']=combined_df['VESSEL TYPE'].nunique()
        temp_dict['no_records']=len(combined_df)
        table2=table2.append(temp_dict,ignore_index=True)
table2

Overlapping of all hydrophones with minimum number of timestamps: 10

  inner_rad outer_rad no_unique_ships no_unique_vessels no_records
0         5        20             152                26        573
1         5        30             144                26        630
2         5        40             129                26        711
3        10        20             542                39       1534
4        10        30             515                38       1556
5        10        40             464                37       1572
6        15        20             865                42       2822
7        15        30             837                42       2826
8        15        40             775                42       2760