In [113]:
import functions as fn
import pandas as pd
from importlib import reload
from tqdm import tqdm
from termcolor import colored
import matplotlib.pyplot as plt
from ooipy.tools import ooiplotlib as ooiplt
import datetime

In [114]:
import sys, os

# Disable
def blockPrint():
    sys.stdout = open(os.devnull, 'w')

# Restore
def enablePrint():
    sys.stdout = sys.__stdout__

In [115]:
df = pd.read_csv('E:/Acer backup 3/internships and jobs/UW/Reader grader and TA/Shima Abadi/Data/ais_2014B_2020B_V2.csv',sep = ',')

In [116]:
df['TIMESTAMP UTC']=df['TIMESTAMP UTC'].astype('datetime64[ns]')

In [117]:
df.head()

,Unnamed: 0.1,Unnamed: 0,MMSI,SHIPNAME,VESSEL TYPE,STATUS,SPEED (KNOTSx10),LAT,LON,COURSE,...,central_caldera_Loc,eastern_caldera_Lat,eastern_caldera_Lon,eastern_caldera_Loc,distance(in km) axial,distance(in km) central cald,distance(in km) eastern cald,bearing_axial,bearing_eastern_cald,bearing_central_cald
0,0,0,209605000,AKILI,Bulk Carrier,0,108,46.09859,-129.6550,83,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",32.25,31.72,30.37,193.760689,234.515164,239.809636
1,1,1,256832000,NaN,NaN,0,115,45.07486,-128.9430,178,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",104.04,128.46,125.45,322.804182,320.490292,320.057435
2,2,2,352358000,ANNA G,Bulk Carrier,0,132,45.86138,-130.5627,86,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",63.02,44.21,46.50,94.234035,78.935325,76.159593
3,3,3,356566000,GLOBAL SAIKAI,General Cargo,0,104,46.50261,-129.0129,272,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",95.33,98.03,97.02,217.082385,230.114815,231.878577
4,4,4,477293500,JIN XIU FENG,Bulk Carrier,0,112,46.74633,-129.5912,299,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",104.08,93.66,94.37,186.960616,198.291220,200.167826

In [118]:
df.shape

(2003830, 30)

In [119]:
df['TIMESTAMP UTC'].min()

Timestamp('2015-01-01 00:28:00')

In [120]:
df['TIMESTAMP UTC'].max()

Timestamp('2020-12-31 23:58:58')

### Remove airgun noise data

In [121]:
start_time=datetime.datetime(2019,7,1,0,0,0)
end_time=datetime.datetime(2019,8,1,0,0,0)

In [122]:
start_time

datetime.datetime(2019, 7, 1, 0, 0)

In [123]:
df=df[(df['TIMESTAMP UTC']<start_time) | (df['TIMESTAMP UTC'] > end_time)]
df.head()

,Unnamed: 0.1,Unnamed: 0,MMSI,SHIPNAME,VESSEL TYPE,STATUS,SPEED (KNOTSx10),LAT,LON,COURSE,...,central_caldera_Loc,eastern_caldera_Lat,eastern_caldera_Lon,eastern_caldera_Loc,distance(in km) axial,distance(in km) central cald,distance(in km) eastern cald,bearing_axial,bearing_eastern_cald,bearing_central_cald
0,0,0,209605000,AKILI,Bulk Carrier,0,108,46.09859,-129.6550,83,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",32.25,31.72,30.37,193.760689,234.515164,239.809636
1,1,1,256832000,NaN,NaN,0,115,45.07486,-128.9430,178,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",104.04,128.46,125.45,322.804182,320.490292,320.057435
2,2,2,352358000,ANNA G,Bulk Carrier,0,132,45.86138,-130.5627,86,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",63.02,44.21,46.50,94.234035,78.935325,76.159593
3,3,3,356566000,GLOBAL SAIKAI,General Cargo,0,104,46.50261,-129.0129,272,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",95.33,98.03,97.02,217.082385,230.114815,231.878577
4,4,4,477293500,JIN XIU FENG,Bulk Carrier,0,112,46.74633,-129.5912,299,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",104.08,93.66,94.37,186.960616,198.291220,200.167826

In [124]:
min_duration=10
path_to_write='E:/Acer backup 3/internships and jobs/UW/Reader grader and TA/Shima Abadi/Data/Benchmark_data/'

In [125]:
reload(fn)

In [126]:
def get_benchmark_data(df,hydrophone_idx,inner_rad,outer_rad,min_duration,fmin=10,fmax=90,break_dur=True,get_acoustic=True,get_spectrogram=True):
    
    if hydrophone_idx==1:
        hydro='Axial_Base'
    elif hydrophone_idx==2:
        hydro='Central_Caldera'
    elif hydrophone_idx==3:
        hydro='Eastern_Caldera'
    suffix=str(inner_rad)+'_'+ str(outer_rad)+'.csv'
    ais=fn.choose_df(df,hydrophone_idx)
    isolated_ships=fn.get_isolated_ships(ais,inner_rad,outer_rad,min_duration)
    isolated_ships.to_csv(path_to_write+hydro+'/isolated_ships_' + suffix)
    isolated_ais=fn.isolated_ais(ais,isolated_ships,inner_rad)
    isolated_ais.to_csv(path_to_write+hydro+'/isolated_ais_'+ suffix)
    if break_dur:
        isolated_ais_10m=fn.break_duration(isolated_ships)
        isolated_ais_10m.to_csv(path_to_write+hydro+'/isolated_ais_10m_'+ suffix)
    
    if get_acoustic==True:
        print('Saving wav files')
        for i in tqdm(range(len(isolated_ships))):
            min_time=isolated_ships.start_time[i]
            max_time=isolated_ships.end_time[i]
            hydrophone_data=fn.get_acoustic(hydrophone_idx,min_time,max_time,fmin=fmin,fmax=fmax)
            if hydrophone_data==None:
                # print('data trace is none. Continuing to next')
                pass
            else:
                hydrophone_data.wav_write(filename=path_to_write+hydro+'/Audio'+'/isolated_ships_'+str(inner_rad)+'_'+ str(outer_rad)+'_'+str(i)+'.wav')
    if get_spectrogram==True:
        print('Saving spectrograms')
        for i in tqdm(range(len(isolated_ships))):
            min_time=isolated_ships.start_time[i]
            max_time=isolated_ships.end_time[i]
            spectrogram=fn.get_spectrogram_data(hydrophone_idx,min_time,max_time,fmin=fmin,fmax=fmax)
            if (spectrogram==None):
                # print('data trace is none. Continuing to next')
                pass
            else:
                if (spectrogram.values.shape[0]<2) | (spectrogram.values.shape[1]<2):
                    pass
                else:
                    #spectrogram.visualize(save_spec=True,plot_spec=False,filename=path_to_write+hydro+'/Spectrogram'+'/isolated_ships_'+str(inner_rad)+'_'+ str(outer_rad)+'_'+str(i)+'.png')
                    ooiplt.plot_spectrogram(spectrogram,plot=False,save=True,fmin=fmin,fmax=fmax,filename=path_to_write+hydro+'/Spectrogram'+'/isolated_ships_'+str(inner_rad)+'_'+ str(outer_rad)+'_'+str(i)+'.png')
    return isolated_ships,isolated_ais

In [127]:
reload(fn)

## Creating benchmark data for Axial Base

### Depth=2.6
### Axial base= 'AXABA1'

In [158]:
inner_rad= 5
outer_rad1=10
outer_rad2=20

In [159]:

d1,d2=get_benchmark_data(df,1,inner_rad,outer_rad1,min_duration,break_dur=False,get_acoustic=False,get_spectrogram=False)

 Max distance: 166.51 and Min distance: 0.01

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 109/109 [00:04<00:00, 27.21it/s]

In [130]:
print(d1['VESSEL TYPE'].value_counts(),'\n',d1['len_of_recording'].sum())

Research/Survey Vessel    47
Bulk Carrier              27
Vehicles Carrier           6
Special Vessel             4
General Cargo              4
Tug                        4
Oil Products Tanker        3
Passenger                  2
Oil/Chemical Tanker        2
Passenger Ship             2
Cargo/Containership        1
Towing Vessel              1
Crude Oil Tanker           1
Fishing Vessel             1
Wood Chips Carrier         1
Cargo                      1
LPG Tanker                 1
Yacht                      1
Name: VESSEL TYPE, dtype: int64
 34860.48333333334

In [160]:

d1,d2=get_benchmark_data(df,1,inner_rad,outer_rad2,min_duration,break_dur=False,get_acoustic=False,get_spectrogram=False)

 Max distance: 166.51 and Min distance: 0.01

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 132/132 [00:07<00:00, 18.14it/s]

In [139]:
print(d1['VESSEL TYPE'].value_counts(),'\n',d1['len_of_recording'].sum())

Research/Survey Vessel    51
Bulk Carrier               5
Special Vessel             4
Fishing Vessel             1
LPG Tanker                 1
Name: VESSEL TYPE, dtype: int64
 31342.416666666668

In [133]:
# d1,d2=get_benchmark_data(df,1,5,30,min_duration,get_acoustic=False)

## Creating benchmark data for Central Caldera

### Depth=1.5
### Central Caldera= 'AXCC1'

In [140]:
inner_rad= 3
outer_rad1=6
outer_rad2=12

In [141]:
d1,d2=get_benchmark_data(df,2,inner_rad,outer_rad1,min_duration,break_dur=False,get_acoustic=False,get_spectrogram=False)

 Max distance: 168.72 and Min distance: 0.02

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 105/105 [00:02<00:00, 40.09it/s]

In [142]:
print(d1['VESSEL TYPE'].value_counts(),'\n',d1['len_of_recording'].sum())

Research/Survey Vessel    67
Offshore Supply Ship      19
Bulk Carrier              10
Tug                        4
Special Vessel             3
Oil/Chemical Tanker        1
Tanker                     1
Name: VESSEL TYPE, dtype: int64
 36766.350000000006

In [143]:
d1,d2=get_benchmark_data(df,2,inner_rad,outer_rad2,min_duration,break_dur=False,get_acoustic=False,get_spectrogram=False)

 Max distance: 168.72 and Min distance: 0.02

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 111/111 [00:02<00:00, 42.45it/s]

In [144]:
print(d1['VESSEL TYPE'].value_counts(),'\n',d1['len_of_recording'].sum())

Research/Survey Vessel    73
Offshore Supply Ship      19
Bulk Carrier              10
Tug                        4
Special Vessel             3
Oil/Chemical Tanker        1
Tanker                     1
Name: VESSEL TYPE, dtype: int64
 36359.26666666666

### In this particular example hydrophone is not properly collecting data for a particular duration

In [145]:
from datetime import datetime
min_time=datetime(2020,12,31,23,10,0)
max_time=datetime(2020,12,31,23,20,0)
x=df[(df['TIMESTAMP UTC']>=min_time) & (df['TIMESTAMP UTC']<=max_time)]

In [146]:
x

,Unnamed: 0.1,Unnamed: 0,MMSI,SHIPNAME,VESSEL TYPE,STATUS,SPEED (KNOTSx10),LAT,LON,COURSE,...,central_caldera_Loc,eastern_caldera_Lat,eastern_caldera_Lon,eastern_caldera_Loc,distance(in km) axial,distance(in km) central cald,distance(in km) eastern cald,bearing_axial,bearing_eastern_cald,bearing_central_cald
2003781,2003781,253382,351733000,CHESAPEAKE HIGHWAY,Vehicles Carrier,0,154,45.25223,-129.6331,28,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",63.45,83.42,80.93,351.512094,340.981166,339.619824
2003782,2003782,253383,538002570,GENCO AUVERGNE,Bulk Carrier,0,72,46.83477,-129.1328,275,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",122.85,118.77,118.67,203.075757,213.271337,214.796535
2003783,2003783,253384,477902900,GALAXY,Bulk Carrier,0,90,46.58752,-128.9267,232,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",106.85,109.10,108.18,216.908858,228.573692,230.171670
2003784,2003784,253385,351733000,CHESAPEAKE HIGHWAY,Vehicles Carrier,0,157,45.26022,-129.6265,30,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",62.66,82.77,80.26,350.929893,340.430626,339.075178
2003785,2003785,253386,538002570,GENCO AUVERGNE,Bulk Carrier,0,72,46.83505,-129.1391,276,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",122.69,118.52,118.44,202.859564,213.064536,214.592982
2003786,2003786,253387,538002570,GENCO AUVERGNE,Bulk Carrier,0,67,46.83548,-129.1460,272,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",122.53,118.26,118.19,202.619685,212.833498,214.365327
2003787,2003787,253388,351733000,CHESAPEAKE HIGHWAY,Vehicles Carrier,0,156,45.27167,-129.6167,31,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",61.53,81.87,79.33,350.045079,339.607785,338.262600
2003788,2003788,253389,477902900,GALAXY,Bulk Carrier,0,90,46.58187,-128.9372,238,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",105.86,108.08,107.16,216.758032,228.533977,230.147298
2003789,2003789,253390,351733000,CHESAPEAKE HIGHWAY,Vehicles Carrier,0,155,45.28058,-129.6090,32,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",60.66,81.18,78.62,349.328593,338.950182,337.614107
2003790,2003790,253391,538002570,GENCO AUVERGNE,Bulk Carrier,0,70,46.83576,-129.1541,272,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",122.32,117.94,117.88,202.341759,212.567615,214.103642
2003791,2003791,253392,477902900,GALAXY,Bulk Carrier,0,90,46.57703,-128.9465,237,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",105.00,107.19,106.27,216.616161,228.490815,230.117857

In [147]:
reload(fn)

spectrogram=fn.get_spectrogram_data(1,min_time,max_time,fmin=10,fmax=90)

Downloading mseed file...
OO.AXBA1.AXBA1.HDH | 2020-12-31T23:10:00.000000Z - 2020-12-31T23:20:00.000000Z | 200.0 Hz, 120001 samples

In [148]:
spectrogram.values.shape[0]

60

In [66]:
if (spectrogram.values.shape[0]<2) | (spectrogram.values.shape[1]<2):
    pass
else:
    ooiplt.plot_spectrogram(spectrogram,plot=False,save=True,fmin=10,fmax=90,filename='test.png')

## Creating benchmark data for Eastern Caldera

### Depth=1.5
### Eastern Caldera= 'AXEC2'

In [25]:
inner_rad= 3
outer_rad1=6
outer_rad2=12

In [149]:
d1,d2=get_benchmark_data(df,3,inner_rad,outer_rad1,min_duration,break_dur=False,get_acoustic=False,get_spectrogram=False)

 Max distance: 165.62 and Min distance: 0.01

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 140/140 [00:03<00:00, 39.97it/s]

In [150]:
print(d1['VESSEL TYPE'].value_counts(),'\n',d1['len_of_recording'].sum())

Research/Survey Vessel    86
Offshore Supply Ship      23
Bulk Carrier              14
Tug                        7
Special Vessel             4
Fishing Vessel             2
Oil/Chemical Tanker        1
Oil Products Tanker        1
Chemical Tanker            1
Crude Oil Tanker           1
Name: VESSEL TYPE, dtype: int64
 44975.23333333333

In [151]:
d1,d2=get_benchmark_data(df,3,inner_rad,outer_rad2,min_duration,break_dur=False,get_acoustic=False,get_spectrogram=False)

 Max distance: 165.62 and Min distance: 0.01

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 149/149 [00:03<00:00, 43.53it/s]

In [153]:
print(d1['VESSEL TYPE'].value_counts(),'\n',d1['len_of_recording'].sum())

Research/Survey Vessel    95
Offshore Supply Ship      23
Bulk Carrier              14
Tug                        7
Special Vessel             4
Fishing Vessel             2
Oil/Chemical Tanker        1
Oil Products Tanker        1
Chemical Tanker            1
Crude Oil Tanker           1
Name: VESSEL TYPE, dtype: int64
 44026.01666666666

## Comparison of various options

In [154]:
reload(fn)

def compare_hydrophone_records_axial(df,hydro_idx,inner_rad,outer_rad,min_duration,break_dur=True):
    print(colored('Comparative view with minimum duration: '+ str(min_duration),'green',attrs=['bold']))
    table=pd.DataFrame(columns=['hydrophone_idx','inner_rad','outer_rad','no_unique_ships','no_unique_vessels','no_instances'])
    for i_r in inner_rad:
        for o_r in outer_rad:
            print(o_r)
            if i_r<=o_r:
                temp_dict=dict()
                ais=fn.choose_df(df,hydro_idx,verbose=False)
                temp_df1=fn.get_isolated_ships(ais,i_r,o_r,min_duration)
                if break_dur:
                    temp_df2=fn.break_duration(temp_df1)
                    temp_dict['no_10m_durations']=len(temp_df2)
#                 print(len(temp_df1))
                temp_dict['hydrophone_idx']=hydro_idx
                temp_dict['inner_rad']=i_r
                temp_dict['outer_rad']=o_r
                temp_dict['no_unique_ships']=temp_df1['MMSI'].nunique()
                temp_dict['no_unique_vessels']=temp_df1['VESSEL TYPE'].nunique()
                temp_dict['no_instances']=len(temp_df1)
                temp_dict['len_of_recordings']=temp_df1.len_of_recording.sum()
                
                table=table.append(temp_dict,ignore_index=True)
    return table

In [155]:
inner_rad=[5]
outer_rad=[10,20]
min_duration=10
hydro_idx=1
table=compare_hydrophone_records_axial(df,hydro_idx,inner_rad,outer_rad,min_duration,break_dur=True)
table

Comparative view with minimum duration: 10
10
20

,hydrophone_idx,inner_rad,outer_rad,no_unique_ships,no_unique_vessels,no_instances,no_10m_durations,len_of_recordings
0,1.0,5.0,10.0,60.0,18.0,109.0,3543.0,34860.483333
1,1.0,5.0,20.0,53.0,17.0,132.0,3206.0,31362.316667

In [156]:
inner_rad=[3]
outer_rad=[6,12]
min_duration=10
hydro_idx=2
table=compare_hydrophone_records_axial(df,hydro_idx,inner_rad,outer_rad,min_duration,break_dur=True)
table

Comparative view with minimum duration: 10
6
12

,hydrophone_idx,inner_rad,outer_rad,no_unique_ships,no_unique_vessels,no_instances,no_10m_durations,len_of_recordings
0,2.0,3.0,6.0,26.0,7.0,105.0,3735.0,36766.350000
1,2.0,3.0,12.0,26.0,7.0,111.0,3699.0,36359.266667

In [157]:
inner_rad=[3]
outer_rad=[6,12]
min_duration=10
hydro_idx=3
table=compare_hydrophone_records_axial(df,hydro_idx,inner_rad,outer_rad,min_duration,break_dur=True)
table

Comparative view with minimum duration: 10
6
12

,hydrophone_idx,inner_rad,outer_rad,no_unique_ships,no_unique_vessels,no_instances,no_10m_durations,len_of_recordings
0,3.0,3.0,6.0,32.0,10.0,140.0,4571.0,44975.233333
1,3.0,3.0,12.0,32.0,10.0,149.0,4482.0,44026.016667

In [110]:
# reload(fn)

# print(colored('Overlapping of all hydrophones with minimum number of timestamps: '+ str(min_duration),'green',attrs=['bold']))
# table2=pd.DataFrame(columns=['inner_rad','outer_rad','no_unique_ships','no_unique_vessels','no_records'])

# for i_r in inner_rad:
#     for o_r in outer_rad:
#         combined_df=pd.DataFrame()
#         for i in range(1,4,1):
#             temp_dict=dict()
#             ais=fn.choose_df(df,i,verbose=False)
#             d1=fn.get_isolated_ships(ais,i_r,o_r,min_duration)
#             combined_df=pd.concat([combined_df,d1])

#         temp_dict['inner_rad']=i_r
#         temp_dict['outer_rad']=o_r
#         temp_dict['no_unique_ships']=combined_df['MMSI'].nunique()
#         temp_dict['no_unique_vessels']=combined_df['VESSEL TYPE'].nunique()
#         temp_dict['no_records']=len(combined_df)
#         table2=table2.append(temp_dict,ignore_index=True)
# table2