In [11]:
import functions as fn
import pandas as pd
from importlib import reload
from tqdm import tqdm
from termcolor import colored
import matplotlib.pyplot as plt
from ooipy.tools import ooiplotlib as ooiplt
import ooipy
import numpy as np
from datetime import datetime,timedelta

In [2]:
df = pd.read_csv('E:/Acer backup 3/internships and jobs/UW/Reader grader and TA/Shima Abadi/Data/ais_2014B_2020B_V2.csv',sep = ',')

df['TIMESTAMP UTC']=df['TIMESTAMP UTC'].astype('datetime64[ns]')

In [3]:
start_time=datetime(2019,7,1,0,0,0)
end_time=datetime(2019,8,1,0,0,0)

In [4]:
df=df[(df['TIMESTAMP UTC']<start_time) | (df['TIMESTAMP UTC'] > end_time)]
df.head()

,Unnamed: 0.1,Unnamed: 0,MMSI,SHIPNAME,VESSEL TYPE,STATUS,SPEED (KNOTSx10),LAT,LON,COURSE,...,central_caldera_Loc,eastern_caldera_Lat,eastern_caldera_Lon,eastern_caldera_Loc,distance(in km) axial,distance(in km) central cald,distance(in km) eastern cald,bearing_axial,bearing_eastern_cald,bearing_central_cald
0,0,0,209605000,AKILI,Bulk Carrier,0,108,46.09859,-129.6550,83,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",32.25,31.72,30.37,193.760689,234.515164,239.809636
1,1,1,256832000,NaN,NaN,0,115,45.07486,-128.9430,178,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",104.04,128.46,125.45,322.804182,320.490292,320.057435
2,2,2,352358000,ANNA G,Bulk Carrier,0,132,45.86138,-130.5627,86,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",63.02,44.21,46.50,94.234035,78.935325,76.159593
3,3,3,356566000,GLOBAL SAIKAI,General Cargo,0,104,46.50261,-129.0129,272,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",95.33,98.03,97.02,217.082385,230.114815,231.878577
4,4,4,477293500,JIN XIU FENG,Bulk Carrier,0,112,46.74633,-129.5912,299,...,"(45.9549, -130.0089)",45.9399,-129.9742,"(45.9399, -129.9742)",104.08,93.66,94.37,186.960616,198.291220,200.167826

In [5]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'MMSI', 'SHIPNAME', 'VESSEL TYPE',
       'STATUS', 'SPEED (KNOTSx10)', 'LAT', 'LON', 'COURSE', 'HEADING',
       'TIMESTAMP UTC', 'LENGTH', 'Year', 'axial_Lat', 'axial_Lon',
       'axial_Loc', 'ship_Loc', 'central_caldera_Lat', 'central_caldera_Lon',
       'central_caldera_Loc', 'eastern_caldera_Lat', 'eastern_caldera_Lon',
       'eastern_caldera_Loc', 'distance(in km) axial',
       'distance(in km) central cald', 'distance(in km) eastern cald',
       'bearing_axial', 'bearing_eastern_cald', 'bearing_central_cald'],
      dtype='object')

In [13]:
def get_no_ships(df,rad,min_d): #optimised version
    
    Axial_start=[]
    Axial_end=[]
    Central_start=[]
    Central_end=[]
    Eastern_start=[]
    Eastern_end=[]
    vessels=df[['MMSI','VESSEL TYPE']].drop_duplicates(subset=['MMSI'])
    df=df.sort_values(by=['TIMESTAMP UTC'],ascending=True)
    start_time=df['TIMESTAMP UTC'].min()
    end_time=start_time+timedelta(minutes=min_d)
    
    while end_time < df['TIMESTAMP UTC'].max():
        
        df_temp=df[(df['TIMESTAMP UTC']>=start_time)& (df['TIMESTAMP UTC']<end_time)]
        
        if df_temp['distance(in km) axial'].min() > rad:
            Axial_start.append(start_time)
            Axial_end.append(end_time)
            
        if df_temp['distance(in km) central cald'].min() > rad:
            Central_start.append(start_time)
            Central_end.append(end_time)
            
        if df_temp['distance(in km) eastern cald'].min() > rad:
            Eastern_start.append(start_time)
            Eastern_end.append(end_time)
            
            
        start_time=end_time
        end_time=start_time+timedelta(minutes=min_d)
            
   
    return Axial_start,Axial_end,Central_start,Central_end,Eastern_start,Eastern_end

In [ ]:
get_no_ships(df,10,10)